/.classpath
/.project
.settings
reports
target
test-output
src.bak
.DS_Store
*.checkstyle
.idea/
*.iml
*.log
**/target
**/.idea
**/src/main/main.iml
task2/javaTrainingArt2.iml
task2_methodComparison/task2_compareCollections.iml
task3_1/javaTrainingArt3_1.iml